head
		*{
			margin: 0;
			padding: 0;
		}
		section{
			width: 100%;
			height: 100vh;
			color: #fff;
			background: linear-gradient(45deg,red,blue,green,black);
			background-size: 400% 400%;
			position: relative;
			animation: cambiar 10s ease-in-out infinite;
		}
		h1{
			font-size: 4rem;
			letter-spacing: 2px;
			border: solid 3px #fff;
			border-radius: 25px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			padding: 2rem 3rem;
		}

		@keyframes cambiar{
			0%{background-position: 0 50%;}
			50%{background-position: 100% 50%;}
			100%{background-position: 0 50%;}
		}
}
body{
    background: #F0F3F4;
}
.mapadiv{
    width: 90%;
    margin: auto;
    stroke-width: 0.5px;
}
ul li h4{
    margin-top: 9px;
    margin-left: 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}
ul li div{
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    color: #fff;
    padding: 8px 4px;
    text-align: center;
    float: left;
    object-fit: cover;
    
}
ul {
    list-style: none;
}
.sidebar{
    z-index:100;
    pointer-events: auto;
    display: inline;
}
ul li>a{
    background-color: #F0F3F4;
    border-radius: 4px;
    box-sizing: border-box;
    color: #2f3434 !important;
    display: block;
    margin: 6px 10px;
    margin-bottom: 0;
    padding: 10px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color .2s;
    outline: 0;
    box-shadow: none;
    text-decoration: none !important;
}
li{
    position: relative;
}
ul{
    border-color: #eee;
    list-style: none;
}
